<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
          <link rel="stylesheet" href="style.css">
          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login" >Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="/home" >Home</a>
            <a href="/BMI" >BMI</a>
            <a href="/calorie_counter" >Calorie Counter</a>
            <a href="/workout" >Workout</a>
            <a href="/water" >Water Intake</a>

          </div>
        </div>
        <br>

    <meta charset="utf-8">
  </head>
  <body>
    Current logged in user: <b><%= user %></b><br>
    <div style="border:solid;text-align:center;margin:auto;width:auto;">
    <b><br><%= user %>'s latest stats:<br><br></b>
    <b>Last drink:</b> <%= data[0][0].dataValues.amount %>ml, <%= data[0][0].dataValues.createdAt %><br><br>
    <b>Last workout done:</b> <%= data[1][0].dataValues.workout %>, <%= data[1][0].dataValues.createdAt %>
  </div>
  </body>
</html>
