<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<header>
    <% include  user_logged.ejs %>
</header>




    <meta charset="utf-8">
  </head>
  <body>
    Current logged in user: <b><%= user %></b><br>
    <div style="border:solid;text-align:center;margin:auto;width:auto;">
    <b><br><%= user %>'s latest stats:<br><br></b>
    <b>Last drink:</b> <%= data[0][0].dataValues.amount %>ml, <%= data[0][0].dataValues.createdAt %><br><br>
    <b>Last workout done:</b> <%= data[1][0].dataValues.workout %>, <%= data[1][0].dataValues.createdAt %><br><br>
    <b>Last weight:</b> <%= data[2][0].dataValues.weight %>Kg, <%= data[2][0].dataValues.date %>
    <!DOCTYPE html>
<html>
<title>Fitness</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("72572609-fitness-background.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>


<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px"><br>Fitness</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-white">15 Adr street, 5015</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
    <p>The gym was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>In addition to our full training and gym  opition.</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i></p>

    </div>
    <img src="Personal-Trainer.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong> 15 Adr street, 5015, NY</p>
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">

    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">THE OPTIONS</span></h5>

    <div class="w3-row w3-center w3-card w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
        <div class="w3-col s6 tablink">TRAIN</div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
        <div class="w3-col s6 tablink">Socialise</div>
      </a>
    </div>

    <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
      <h5>More than just a gym</h5>
      <p class="w3-text-grey">
We offer a wide range of wellbeing services and exclusive benefits all under one roof, so you get the most out of being a member./p><br>

      <h5>Friendly wellbeing experts</h5>
      <p class="w3-text-grey">Everyone is welcome here and our friendly, expert staff are committed to giving you the best experience.</p><br>

      <h5>Free regular Health MOTs</h5>
      <p class="w3-text-grey">These unique health checks allow our experts to get to know you and create your individual fitness and wellbeing plan</p><br>
  </div>

    </div>
    <img src="cover.jpg" style="width:91.5%;max-width:1000px;margin-top:32px;">
  </div>
</div>
<img src="athlete-barbell-body-1552249.jpg" class="w3-image" style="width:88%">


<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide"> BOOK WITH US</span></h5>
    <p>Find us at some address at some place.</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required name="People"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
      <p><button class="w3-button w3-black" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>

</body>
</html>


  </div>
  </body>
</html>
