<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include  user_logged.ejs %>

  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>
<body><center>
  <div id="main">
    <h1>Weight Tracker</h1><br>
    Please note: only one entry can be made for each date
    <form action="/weight" method="POST" class="form-horizontal"><br>
      <input type="text" name="weight" placeholder="Weight (Kg)"><br>
      <input type="date" name="date" placeholder="Date (MM-DD-YYYY)"><br>
      <input type="submit" name="Submit" value="Enter" class="btn"><br>
    </form><br>
    <%= user %>'s weight history:<br><br>
    <% for (var i=0; i < weight_data.length; i++) { %>
      <div>
        <%= weight_data[i] %>Kg, <%= date_data[i] %><br>
      </div><br>
      <% } %>
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="myChart"></canvas>
      </div>
      <script>
      var weight_data = [<%= weight_data %>];
      var date_data = [];
      <% for (var i=0; i<date_data.length; i++) { %>
        date_data.push("<%= date_data[i] %>");
        <% } %>
        console.log(date_data);
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: date_data.reverse(),
            datasets: [{
              label: 'Weight History',
              data: weight_data,
              borderWidth: 2,
              borderColor: 'rgb(0, 0, 0)',
              fill: false
            }]
          },
          options: {
            responsive: true,
            elements: {
              line: {
                tension: 0, // disables bezier curves
              }
            },
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Date'
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Weight (Kg)'
                },
                ticks: {
                  beginAtZero: true
                }
              }],
              xAxes: [{
                ticks: {
                  reverse: true
                }
              }]
            }
          }
        });
        </script>
      </center></body>
      </html>
